.container {
    width: 510px;
    height: 510px;
    margin: 0 auto;
    border: 1px solid #000;
    background-image: url("/GeekHubJS10/homework4/tagging/img/image.jpg");
    overflow: hidden;
}

.lorem {
    width: 80px;
    height: 25px;
    border: 1px solid #000;
    background: rgb(63, 59, 59);
    opacity: 70%;
    position: relative;
    border-radius: 5px 5px;
}

.lorem__title {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.lorem__button {
    width: 15px;
    height: 25px;
    color: #fff;
    border: 1px solid #000;
    background: rgb(63, 59, 59);
    opacity: 70%;
    position: absolute;
    top: 0%;
    left: 100%;
    border-radius: 5px 5px;
}

.lorem__button_hidden {
    visibility: hidden;
}

.lorem_hidden {
    visibility: hidden;
}