.container {
    margin: 2vh 5vw;
    padding: 1vh 3vh;
    border: 1px solid #000;
}

.header {
    display: flex;
    flex-direction: row;
}

.square {
    width: 8vw;
    height: 8vw;
    background-color: gray;
}

.rectangle {
    margin-left: 2vw;
    width: 25vw;
    height: 8vw;
    background-color: gray;
}

.phones {
    margin-left: 2vw;
    width: 45vw;
    height: 8vw;
    background-color: gray;
}

.phones>p {
    margin-left: 35vw;
}